<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Students SSO | Anmelden</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <script src="/bootstrap.min.js"></script>
</head>
<body class="d-flex flex-column align-items-center py-4">
    <main class="form-signin w-100 m-auto">
        <h1>Zugriff erlauben</h1>
        <div class="login-client-image">
            <% if (client.logoUri) { %>
                <img src="<%= client.logoUri %>" alt="client logo">
            <% } %>
        </div>

        <p><strong><%= client.clientName %></strong> benötigt Zugriff auf folgende Informationen:</p>

        <ul class="list-group">
            <% if ([details.missingOIDCScope, details.missingOIDCClaims, details.missingResourceScopes].filter(Boolean).length === 0) { %>
                <li class="list-group-item">Bereits erteilten Zugriff erneut bestätigen</li>
            <% } %>

            <% missingOIDCScope = new Set(details.missingOIDCScope); missingOIDCScope.delete('openid'); missingOIDCScope.delete('offline_access') %>
            <% if (missingOIDCScope.size) { %>
                <% missingOIDCScope.forEach((scope) => { %>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" id="<%= scope %>" checked disabled>
                        <label class="form-check-label opacity-100" for="<%= scope %>"><%= scopeDescriptions[scope] %></label>
                    </li>
                <% }) %>
            <% } %>
        </ul>

        <% missingOIDCClaims = new Set(details.missingOIDCClaims); ['sub', 'sid', 'auth_time', 'acr', 'amr', 'iss'].forEach(Set.prototype.delete.bind(missingOIDCClaims)) %>
        <% if (missingOIDCClaims.size) { %>
            <h5>Zusätzlich:</h5>
            <ul class="list-group">
                <% missingOIDCClaims.forEach((claim) => { %>
                    <li class="list-group-item"><%= claim %></li>
                <% }) %>
            </ul>
        <% } %>

        <ul>
            <% missingResourceScopes = details.missingResourceScopes %>
            <% if (missingResourceScopes) { %>
                <% for (const [indicator, scopes] of Object.entries(details.missingResourceScopes)) { %>
                    <li><%= indicator %>:</li>
                    <ul>
                        <% scopes.forEach((scope) => { %>
                            <li><%= scope %></li>
                        <% }) %>
                    </ul>
                <% } %>
            <% } %>

            <% if (params.scope && params.scope.includes('offline_access')) { %>
                <li>
                    Offline-Zugriff
                    <% if ((!details.missingOIDCScope) || !details.missingOIDCScope.includes('offline_access')) { %>
                        (bereits zuvor erteilt)
                    <% } %>
                </li>
            <% } %>
        </ul>

        <form autocomplete="off" action="/interaction/<%= uid %>/confirm" method="post">
            <button autofocus type="submit" class="btn btn-primary w-100 py-2">Erlauben</button>
        </form>
        <div class="login-help py-2">
            <a href="/interaction/<%= uid %>/abort" class="text-secondary">Abbrechen</a>
        </div>
    </main>
    <footer class="text-secondary">
        <p>
            Schrift: HTWBerlin Office by Jürgen Huber/Malte Herok &ndash;
            <a class="text-secondary" href="https://creativecommons.org/licenses/by-nc-nd/4.0/legalcode">CC BY-NC-ND 4.0</a>
        </p>
        <% if (client.tosUri) { %>
            <a href="<%= client.tosUri %>">Nutzungsbedingungen</a>
        <% } %>
        <% if (client.policyUri) { %>
            <a href="<%= client.policyUri %>">Datenschutzhinweise</a>
        <% } %>
    </footer>
</body>
</html>
