<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Students SSO | Anmelden</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <script src="/bootstrap.min.js"></script>
</head>
<body class="d-flex flex-column align-items-center py-4">
    <main class="form-signin w-100 m-auto">
        <h1 class="h3 mb-3 fw-normal">HTW Students &ndash; Login</h1>
        <% if (flash) { %>
            <p><%= flash %></p>
        <% } %>
        <form autocomplete="off" action="/interaction/<%= uid %>/login" method="post">
            <div class="form-floating">
                <input required type="email" name="email" placeholder="s0xxxxxx" class="form-control" id="email"
                       <% if (!params.login_hint) { %>autofocus
                <% } else { %> value="<%= params.login_hint %>"
                        <% } %>
                >
                <label for="email">HTW-Mailadresse (s0...@htw-berlin.de)</label>
            </div>
            <div class="form-floating">
                <input required type="password" name="password" placeholder="and password"
                       class="form-control" id="password"
                       <% if (params.login_hint) { %>autofocus
                        <% } %>
                >
                <label for="password">Passwort</label>
            </div>
            <button type="submit" class="btn btn-primary w-100 py-2">Anmelden</button>
        </form>
        <div class="login-help py-2">
            <a href="/interaction/<%= uid %>/abort" class="text-secondary">Abbrechen</a>
        </div>
    </main>
    <footer class="text-secondary">
        <p>
            Schrift: HTWBerlin Office by Jürgen Huber/Malte Herok &ndash;
            <a class="text-secondary " href="https://creativecommons.org/licenses/by-nc-nd/4.0/legalcode">CC BY-NC-ND 4.0</a>
        </p>
        <% if (client.tosUri) { %>
            <a href="<%= client.tosUri %>">Nutzungsbedingungen</a>
        <% } %>
        <% if (client.policyUri) { %>
            <a href="<%= client.policyUri %>">Datenschutzhinweise</a>
        <% } %>
    </footer>
    <script lang="js">
        document.addEventListener("DOMContentLoaded", () => {
            document.querySelector("input[name=email]").addEventListener("blur", (event) => {
                if (event.target.value.match(/^s0[0-9]{6}$/) !== null)
                    event.target.value += "@htw-berlin.de";
            });
        });
    </script>
</body>
</html>
